@include media-breakpoint-up(sm) {
   .fs-sm-12 {
      font-size: $fs-12 !important;
   }
   .fs-sm-14 {
      font-size: $fs-14 !important;
   }
   .fs-sm-16 {
      font-size: $fs-16 !important;
   }
   .fs-sm-18 {
      font-size: $fs-18 !important;
   }
   .fs-sm-20 {
      font-size: $fs-20 !important;
   }
   .fs-sm-23 {
      font-size: $fs-23 !important;
   }
   .fs-sm-26 {
      font-size: $fs-26 !important;
   }
   .fs-sm-29 {
      font-size: $fs-29 !important;
   }
   .fs-sm-32 {
      font-size: $fs-32 !important;
   }
   .fs-sm-36 {
      font-size: $fs-36 !important;
   }
   .fs-sm-41 {
      font-size: $fs-41 !important;
   }
   .fs-sm-46 {
      font-size: $fs-46 !important;
   }
   .fs-sm-52 {
      font-size: $fs-52 !important;
   }
   .fs-sm-58 {
      font-size: $fs-58 !important;
   }
   .fs-sm-66 {
      font-size: $fs-66 !important;
   }
   .fs-sm-74 {
      font-size: $fs-74 !important;
   }
   .fs-sm-83 {
      font-size: $fs-83 !important;
   }
   .fs-sm-94 {
      font-size: $fs-94 !important;
   }
   .fs-sm-105 {
      font-size: $fs-105 !important;
   }
}

@include media-breakpoint-up(md) {
   .fs-md-12 {
      font-size: $fs-12 !important;
   }
   .fs-md-14 {
      font-size: $fs-14 !important;
   }
   .fs-md-16 {
      font-size: $fs-16 !important;
   }
   .fs-md-18 {
      font-size: $fs-18 !important;
   }
   .fs-md-20 {
      font-size: $fs-20 !important;
   }
   .fs-md-23 {
      font-size: $fs-23 !important;
   }
   .fs-md-26 {
      font-size: $fs-26 !important;
   }
   .fs-md-29 {
      font-size: $fs-29 !important;
   }
   .fs-md-32 {
      font-size: $fs-32 !important;
   }
   .fs-md-36 {
      font-size: $fs-36 !important;
   }
   .fs-md-41 {
      font-size: $fs-41 !important;
   }
   .fs-md-46 {
      font-size: $fs-46 !important;
   }
   .fs-md-52 {
      font-size: $fs-52 !important;
   }
   .fs-md-58 {
      font-size: $fs-58 !important;
   }
   .fs-md-66 {
      font-size: $fs-66 !important;
   }
   .fs-md-74 {
      font-size: $fs-74 !important;
   }
   .fs-md-83 {
      font-size: $fs-83 !important;
   }
   .fs-md-94 {
      font-size: $fs-94 !important;
   }
   .fs-md-105 {
      font-size: $fs-105 !important;
   }
}

@include media-breakpoint-up(lg) {
   .fs-lg-12 {
      font-size: $fs-12 !important;
   }
   .fs-lg-14 {
      font-size: $fs-14 !important;
   }
   .fs-lg-16 {
      font-size: $fs-16 !important;
   }
   .fs-lg-18 {
      font-size: $fs-18 !important;
   }
   .fs-lg-20 {
      font-size: $fs-20 !important;
   }
   .fs-lg-23 {
      font-size: $fs-23 !important;
   }
   .fs-lg-26 {
      font-size: $fs-26 !important;
   }
   .fs-lg-29 {
      font-size: $fs-29 !important;
   }
   .fs-lg-32 {
      font-size: $fs-32 !important;
   }
   .fs-lg-36 {
      font-size: $fs-36 !important;
   }
   .fs-lg-41 {
      font-size: $fs-41 !important;
   }
   .fs-lg-46 {
      font-size: $fs-46 !important;
   }
   .fs-lg-52 {
      font-size: $fs-52 !important;
   }
   .fs-lg-58 {
      font-size: $fs-58 !important;
   }
   .fs-lg-66 {
      font-size: $fs-66 !important;
   }
   .fs-lg-74 {
      font-size: $fs-74 !important;
   }
   .fs-lg-83 {
      font-size: $fs-83 !important;
   }
   .fs-lg-94 {
      font-size: $fs-94 !important;
   }
   .fs-lg-105 {
      font-size: $fs-105 !important;
   }
}

@include media-breakpoint-up(xl) {
   .fs-xl-12 {
      font-size: $fs-12 !important;
   }
   .fs-xl-14 {
      font-size: $fs-14 !important;
   }
   .fs-xl-16 {
      font-size: $fs-16 !important;
   }
   .fs-xl-18 {
      font-size: $fs-18 !important;
   }
   .fs-xl-20 {
      font-size: $fs-20 !important;
   }
   .fs-xl-23 {
      font-size: $fs-23 !important;
   }
   .fs-xl-26 {
      font-size: $fs-26 !important;
   }
   .fs-xl-29 {
      font-size: $fs-29 !important;
   }
   .fs-xl-32 {
      font-size: $fs-32 !important;
   }
   .fs-xl-36 {
      font-size: $fs-36 !important;
   }
   .fs-xl-41 {
      font-size: $fs-41 !important;
   }
   .fs-xl-46 {
      font-size: $fs-46 !important;
   }
   .fs-xl-52 {
      font-size: $fs-52 !important;
   }
   .fs-xl-58 {
      font-size: $fs-58 !important;
   }
   .fs-xl-66 {
      font-size: $fs-66 !important;
   }
   .fs-xl-74 {
      font-size: $fs-74 !important;
   }
   .fs-xl-83 {
      font-size: $fs-83 !important;
   }
   .fs-xl-94 {
      font-size: $fs-94 !important;
   }
   .fs-xl-105 {
      font-size: $fs-105 !important;
   }
}
